<h2>Visitors</h2>
<table>
	<th>
		<td>Date</td>
		<td>IP Address</td>
		<td>Host Name</td>
	</th>
	<% @request_headers.each do |request_header| %>
		<tr>
			<td><%= request_header.created_at.to_formatted_s(:long) %></td>
			<td><%= request_header.remote_ip %></td>
			<td><%= request_header.remote_host %></td>
		<tr>
	<% end %>
</table>
