<h2>Visitors</h2>
<table>
	<th>
		<td>Date</td>
		<td>IP Address</td>
		<td>Host Name</td>
	</th>
	<% @visitors.each do |visitor| %>
		<tr>
			<td><%= visitor.created_at.to_formatted_s(:long) %></td>
			<td><%= visitor.remote_ip %></td>
			<td><%= visitor.remote_host %></td>
		<tr>
	<% end %>
</table>
