<div id="client_area">
  <%= link_to('Back', root_path) %>
  <h3 id="ui_title">My Work</h3><br>

  <div class="work_divs">
    <div class="work_title">Web Based Application for Managing Recruitment Process</div>
    <div class="work_technologies">Technologies Used : Ruby on Rails, HTML, JavaScript, Twitter Bootstrap, Ubuntu, MySql</div>
    <div id="work_images_on_board"></div>
  </div>

  <div class="work_divs" style="left: 520px">
    <div class="work_title">My On-line Profile</div>
    <div class="work_technologies">Technologies Used : Ruby on Rails, HTML, Ubuntu, MySql</div>
    <div id="work_images_on_board"></div>
  </div>

  <div class="work_divs" style="top: 500px">
    <div class="work_title">Virtual Desktop Environment</div>
    <div class="work_technologies">Technologies Used : Ruby on Rails, HTML, Ubuntu, MySql, Amazon Web Services.</div>
    <div id="work_images_on_board"></div>
  </div>

  <div class="work_divs" style="top: 500px; left: 520px">
    <div class="work_title">My On-line Profile</div>
    <div class="work_technologies">Technologies Used : Ruby on Rails, HTML, Twitter Bootstrap, Ubuntu, MySql</div>
    <div id="work_images_on_board"></div>
  </div>
</div>
