<div id="client_area">
  <%= link_to('Home', root_path) %>
  <h3 id="ui_title">My Work</h3><br>

  <div class="work_divs" style="float: left;">
    <b>Web Based Application for Managing Recruitment Process</b><br>
    Technologies Used : Ruby on Rails, HTML, JavaScript, Twitter Bootstrap, Ubuntu, MySql
    <div id="work_images_on_board"></div>
  </div>

  <div class="work_divs" style="float: left;">
    <b>My On-line Profile</b><br>
    Technologies Used : Ruby on Rails, HTML, Ubuntu, MySql
    <div id="work_images_on_board"></div>
  </div>

  <div class="work_divs" style="float: left">
    <b>Virtual Desktop Environment</b><br>
    Technologies Used : Ruby on Rails, HTML, Ubuntu, MySql, Amazon Web Services,
    <div id="work_images_on_board"></div>
  </div>

  <div class="work_divs" style="float: left;">
    <b>My On-line Profile</b><br>
    Technologies Used : Ruby on Rails, HTML, Twitter Bootstrap, Ubuntu, MySql
    <div id="work_images_on_board"></div>
  </div>
</div>
