<div id="side_bar"></div>
<div id= "title_name">atul</div>
<div id= "title_surname">shimpi</div>
<div id= "welcome">Your "Ruby on Rails" freelancer. Welcome to my site.</div>
<div id= "welcome_hr"></div>
<div id="profile_photo"></div>
<div id="faqs">


  <p id="question">Who are you ? </p>
  <p id="answer"> Myself, Atul Shimpi, from Pune, India </p>
  <br>

  <p id="question">What do you do ?  </p>
  <p id="answer"> I am a software freelancer who <br>
    -Help companies design and develop Web-based and Cloud-Based software applications using Java and Ruby on Rails full stack.<br>
    -Provide consultancy in solution architecture to startups and small and medium size software companies</p>
  <br>

  <p id="question">Are you the best ?</p>
  <p id="answer"> I will try my best to be your best.</p>
  <br>

  <p id="question">How long i have been in this field ? </p>
  <p id="answer"> 9 years </p>
  <br>

  <p id="question">Experience and Expertise level in Ruby on Rails ? </p>
  <p id="answer"> 3 years
    Achieved 4 out of 5 rating from a US client early this year.
    But i think i am still and would remain a student forever and keep the learning process going on.
  </p>
  <br>

  <p id="question">Are my applications world class ? </p>
  <p id="answer"> No, they are end user class. </p>
  <br>

  <p id="question">Do I provide world class architecture ? </p>
  <p id="answer"> No, i provide right architecture. </p>
  <br>

  <p id="question">How do i provide right architecture ? </p>
  <p id="answer"> By following best practises.
    They say, “Technology is temporary and best practises are permanent”.
    Got golden opportunities to work with products of some of the Fortune 100 companies. </p>
  <br>

  <p id="question">Work location ? </p>
  <p id="answer"> Only remote work. But can visit your location for few days if required. </p>
  <br>

  <p id="question">Want more information </p>
  <p id="answer"> View my “CV”. </p>
  <br>

  <p id="question">Any References ?</p>
  <p id="answer"> Yes, on email </p>
</div>
