<div id="side_bar"></div>
<div id= "title_name">atul</div>
<div id= "title_surname">shimpi</div>
<div id= "welcome">Your "Ruby on Rails" freelancer. Welcome to my site.</div>
<div id= "welcome_hr"></div>
<div id="profile_photo"></div>
<div id="contact_details">
  <%= link_to('My Work', work_path)%> | <%= link_to('My Github Profile', 'https://github.com/atul-shimpi',  target: '_blank')%><br>
  Cell : +91-9890979429<br>
  Email : shimpiatul@hotmail.com <br>
  Skype : shimpiatul
</div>


<div id="faqs_upper">
  <p id="question">Who are you ? </p>
  <p id="answer">Hello, myself Atul Shimpi from Pune, India. </p>
  <br>

  <p id="question">What do you do ?  </p>
  <p id="answer"> I do software freelancing.<br>
    I design and develop Web-based and Cloud-Based software applications for start-up and medium size companies. <br>
  <br>

  <p id="question">Why do you freelancing ?  </p>
  <p id="answer">To fulfil my dreams. I want to travel all around world and enjoy the nature, experience different
    cultures, meet people and make friends and most importantly learn something from them.<br>
    <br>

  <p id="question">What is your expertise ?  </p>
  <p id="answer"> I love <b>"Ruby on Rails"</b> and <b>"Amazon Web Services"</b>.<br>
    I like to create re-usable and tested software components and code through <b>"Object Oriented Programming".</b><br>
    I also follow the best practise of writing the unit test cases first the then actual code by following
    <br><br>
</div>

<div id="faqs_lower">
  <b>"Test Driven Development".</b><br>
  I also have follow <b>"Usability"</b> best practises while designing UI. This web-site is created using those.

  <br><br>
  <p id="question">For how many years are you doing this ?  </p>
  <p id="answer"> My total software experience is 9 years.
    On "Ruby on Rails" its 3 years and on "Amazon Web Services" its 2 years<br><br>

  <p id="question">Are you the best of all over there ?</p>
  <p id="answer">I will make efforts to be best for you.</p>
  <p id="answer">Early this year (2015), I <b>achieved 4 out of 5 rating from a US client for my work </b>.
  But I think I am still and would remain a student forever and keep the learning process going on.</p>
  <br>

  <p id="question">Are my applications world class ? </p>
  <p id="answer"> No, they are end user class. </p>
  <br>

  <p id="question">Do I provide world class architecture ? </p>
  <p id="answer"> No, i provide right architecture. </p>
  <br>

  <p id="question">How do i provide right architecture ? </p>
  <p id="answer"> By following best practises.
    They say, “Technology is temporary and best practises are permanent”.
    Got golden opportunities to work with products of some of the Fortune 100 companies.<br>
    I keep myself engaged in public activities for "Ruby on Rails" community.
  </p>
  <br>

  <p id="question">Work location ? </p>
  <p id="answer"> Only remote work. But can visit your location for few days if required. </p>
  <br>

  <p id="question">Want more information </p>
  <p id="answer"> View my “CV”. </p>
  <br>

  <p id="question">Any References ?</p>
  <p id="answer"> Yes, on email. </p>
</div>
