body{
    background-color: #ffffff;
    margin: 0;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    line-height: 1.5;

}

p {
    margin-top: 0em;
    margin-bottom: 0.2em;
}

#app_window{
    width: 80%;
    height: 1200px;
    background-color: #f5f7f7;
    margin: auto;
    top: 10px;
    border-radius: 9px;
    position: relative;
    box-shadow: 10px 10px 5px #888888;
    #border: 2px solid #c7c2d1;
}

#side_bar{
    width: 200px;
    height: 100%;
    #background-color: rgba(84, 147, 137, 0.91);
    background-color: rgba(163, 130, 145, 0.91);
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#profile_photo{
    width: 250px;
    height: 250px;
    border-radius: 6px;
    background-image: url("on-chair.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 70px;
    top: 80px;
    border-left: 8px solid #f8f8f8;
    border-top: 8px solid #f8f8f8;
    border-bottom: 8px solid #f8f8f8;
}

#title_name{
    text-align: right;
    width: 185px;
    height: 240px;
    background-size: 100%;
    position: absolute;
    left: 75px;
    top: 0;
    #color: rgba(30, 165, 181, 0.98);
    color: rgba(183, 146, 165, 0.98);
    font-size: 34px;
    border-top-right-radius: 9px;
    font-weight: bold;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    padding-left: 10px;
    padding-right: 15px;
}

#title_surname{
    width: 633px;
    height: 215px;
    background-size: 100%;
    position: absolute;
    left: 270px;
    top: 0;
    #color: rgba(33, 195, 213, 0.82);
    color: rgba(201, 167, 183, 0.82);
    font-size: 34px;
    border-top-right-radius: 9px;
    font-weight: bold;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    padding-left: 5px;
    padding-right: 10px;
}

#welcome{
    background-size: 100%;
    position: absolute;
    left: 210px;
    top: 43px;
    color: rgba(136, 131, 146, 0.82);
    font-size: 12px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

#welcome_hr{
    width: 770px;
    height: 215px;
    background-size: 100%;
    position: absolute;
    left: 200px;
    top: 67px;
    color: rgba(186, 186, 186, 0.82);
    font-size: 12px;
    font-weight: bold;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    border-top: 1px dashed;
}

#faqs_upper{
    width: 603px;
    height: 260px;
    position: absolute;
    left: 330px;
    top: 80px;
    font-family: verdana, arial, helvetica, sans-serif;
    padding-left: 10px;
}

#faqs_lower{
    width: 603px;
    height: 600px;
    position: absolute;
    left: 200px;
    top: 355px;
    font-family: verdana, arial, helvetica, sans-serif;
    padding-left: 10px;
}

#question{
    color: #1d97a7;
    font-size: 12px;
    font-weight: bold;
    font-family: "Helvetica Neue", "Arial", sans-serif;

}

#answer{
    color: #515151;
    font-size: 12px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
