#client_area{
   padding: 10px;
   padding-left: 25px;
   width: 100%;
   height: 100%;
    position: relative;
}

.work_divs{
    text-align: left;
    width: 900px;
    height: 620px;
    background-color: RGB(220, 220, 220);
    border-top: 8px solid #c9a7b7;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.my_app_ui{
    top: 10px;
    position: relative;
    left: 0;
    width: 900px;
    height: 500px;
    background-size: 100% 100%;
    border: solid 1px #a98b98;
}

.work_domain{
    font-size: 18px;
    font-weight: bold;
    color: #9c7f8b;
}

.work_description{
    font-size: 12px;
}

.work_technologies{
    font-size: 12px;
    border-bottom: 1px solid #c9a7b7;
}

.work_ui_links{
    top: 10px;
    position: relative;
    left: 0;
    width: 900px;
    height: 30px;

}