<!DOCTYPE html>
<html>
<head>
  <title>MyProfile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="app_window">
  <div id="side_bar">
    <div id= "title_name">atul</div>
    <div id= "title_surname">shimpi</div>
  </div>
  <div id="profile_photo"></div>
  <div id="faqs"></div>
  <%= yield %>
</div>

<br>
</body>
</html>