<!DOCTYPE html>
<html>
<head>
  <title>atul shimpi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if controller_name.eql?('home') %> <div class="app_window" > <% end %>
<% if controller_name.eql?('works') %> <div  class="app_window" style="height: 2860px" > <% end %>
<% if controller_name.eql?('visitors') %> <div  class="app_window app_window2" > <% end %>
<%= yield %>
</div>
<br>
</body>

<div id="copyright">
  <p>&copy; 2015 Atul Shimpi</p>
</div>
</html>