<!DOCTYPE html>
<html>
<head>
  <title>MyProfile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if controller_name.eql?('home') %> <div id="app_window" > <% end %>
<% if controller_name.eql?('works') %> <div  id="app_window" style="height: 2860px" > <% end %>
  <%= yield %>
</div>
<br>
</body>

<div id="copyright">
  <p>&copy; 2015 Atul Shimpi</p>
</div>
</html>